.barra_bottom {
    margin-top: 10px;
    background: #2698DC;
    color: #FFFFFF;
    text-decoration: none;
}
.barra_bottom a:hover{
    color: #1f478d;
}
.icono {
    font-size: 2rem;
    color: #FFF;
    margin: 0 18px;
}

.titulo {
    padding: 15px 0px;
    color: #0d6efd;
    display: flex;
}

.nav-item {
    padding: 0 75px;
}

.button {
    background-color: #1f478d;
    border: none;
    color: white;
    padding: 30px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 20px;
}

.button:hover {
    background-color: #2698DC;
}
#navbarNav{
    justify-content: center;
}